@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');



:root{
--fonte1: Verdana, Geneva, Tahoma, sans-serif;
--fonte2:"Sriracha", cursive; 
--fonte3: "Sriracha", cursive;

}


*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    
}


html, body{
    min-height: 100vh;
    background-color: rgb(58, 58, 112);
    font-family: var(--fonte1);
}
audio {
    width: 150px;
    height: 27px;

}
header{
    background-color:  rgba(64, 4, 160, 0.555);
    color: aliceblue;
    text-align: center;
    font-family: Harlow Solid Italic;
}
header > h1 {
   padding-top: 45px;
   font-variant: small-caps;
   font-family: var(--fonte2);
   margin-block-end: 0.4em;
   font-size: 9.2vw;
   
}
header> p {
    padding-bottom: 50px;
}
header , footer  {
    color: white;
    background-image: url(imagens/8169417-fundo-estrelado-azul-ceu-noite-design-ilustracaoial-vetor.jpg);
    background-size: cover;

}

header a : :hover, footer a : :hover{
    text-decoration:underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
     line-height: 2em;
     padding-left: 30px;
     font-family: var(--fonte3);
     font-size: 4.2vw;

}
section>p{
    padding-bottom: 2em;
}
section.normal{
   
    color: rgba(223, 220, 220, 0.959);
}

section.imagem{
    background-color: rgb(78, 77, 77);
    color: aliceblue;
    box-shadow: inset 6px 06px 13px 0px rgba(0, 0, 0, 0.310);
    background-size: cover;
    background-attachment: fixed;


}
section.imagem > p {
    display: inline-block;
    padding: 7px;
background-color: rgba(0, 0, 0, 0.301);
text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.705);
}

section#img01{
background-image: url(imagens/img.01.jpeg);
background-position:right center;



}
section#img02{
background-image: url(imagens/img.03.webp);
background-position:right center;

}

footer{
background-color: rgba(64, 4, 160, 0.555);
color: aliceblue;
text-align: center;
padding: 10px;
}
